/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2014, 11:57:44 AM
    Author     : User
*/
html, body  {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
    background-image: url("images/ems_bg.jpg");
    background-repeat: repeat-x;
    margin:0 auto !important;
}

.footer {
    width: 100%;
    align: center;
    background: url("images/footer.jpg") repeat-x scroll center top #EDEDED;
    margin:0 auto !important;
    padding: 0px 10px 0px 10px;
}

.applicationTitle {
    /*font-family: tohama;
	color : steelBlue;*/
    font-size : 30pt;
    color: #6A6A6A;
    font: 40px/107px 'Lobster Two','Segoe UI',Arial,sans-serif;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    text-align: center;
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(styles/Law3VVulBOoxyKPkrNsAaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

fieldset {
    /*
	-moz-border-radius:5px;  
	border-radius: 5px;  
	-webkit-border-radius: 5px;
	border: 1px solid #BFBFBF;
    */
    margin: auto;
    padding: 20px;
    width: 500px;
    
    background: -webkit-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#FFFFFF');
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
legend {
    margin-left: 20px;
	padding: 5px 10px;
	/*border:1px solid #BFBFBF;*/
	color: black;
	text-align: left;
    
    background: -webkit-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    background: gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#FFFFFF');
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
div.panel {
    margin: 20px auto 50px auto;
    padding: 20px 25px 50px 25px;
    /*
    box-shadow: 5px 5px 5px #888;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    background-color: #F5F5F5;
    */
    background: -webkit-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#FFFFFF');
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 15px #AAAAAA;
    -moz-box-shadow: 0 0 15px #AAAAAA;
    box-shadow: 0 0 15px #AAAAAA;
}

/*
.ui-panelgrid tr, .ui-panelgrid td{
  border:none !important;
}

.ui-datatable .ui-datatable-data tr,.ui-datatable .ui-datatable-data-empty tr,.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td{
  border:1px solid !important;
}
*/

